/* ========================================================================== 
                                LARGE HERO
========================================================================== */

img {
    max-width: 100%; 
    height: auto; 
}

.hero {
    position: relative; 

    &__content {
        position: absolute; 
        top: 50%; 
        transform: translateY(-50%); 
        left: 0; 
        width: 100%; 
        text-align: center; 
    }

    &__h1 {
        font-weight: 300;
        color: purple; 
        font-size: 1.1rem; 
        margin: 0; 

        @mixin atSmall {
            font-size: 2rem;
        }

        @mixin atMedium {
            font-size: 3.2rem;
        }

        @mixin atLarge {
            font-size: 4.8rem;
        }
    }

    
    &__h2 {
        font-weight: 300;
        color: $mainBlue; 
        font-size: 1.1rem; 
        margin: 0; 
    }

    &__text {
        color: #fff; 
        font-size: 1.875rem; 
        text-shadow: 2px 2px 0 rgba(0, 0, 0, 0.2);
        max-width: 480px; 
        margin: 20px auto; 
    }
}
