    .icon {
    background-image: url('../../assets/images/sprites/sprite-240e8c34.svg');
    }
    .icon--clear-view-escapes {
        width: 142.528px;
        height: 59.531px; 
        background-position: 0 0; 
    }
    .icon--comment {
        width: 64px;
        height: 64px; 
        background-position: 99.76748768472906% 0; 
    }
    .icon--facebook {
        width: 21.23px;
        height: 42.01px; 
        background-position: 26.040607071652357% 45.79659973844141%; 
    }
    .icon--fire {
        width: 56px;
        height: 64px; 
        background-position: 0 99.56574074074075%; 
    }
    .icon--globe {
        width: 64px;
        height: 64px; 
        background-position: 27.586206896551722% 99.56574074074075%; 
    }
    .icon--instagram {
        width: 42.01px;
        height: 42.01px; 
        background-position: 63.34859327081203% 49.234556504346486%; 
    }
    .icon--mail {
        width: 64px;
        height: 48px; 
        background-position: 0 48.008870967741935%; 
    }
    .icon--rain {
        width: 64px;
        height: 64px; 
        background-position: 99.76748768472906% 59.25925925925926%; 
    }
    .icon--star {
        width: 64px;
        height: 64px; 
        background-position: 59.11330049261084% 99.56574074074075%; 
    }
    .icon--twitter {
        width: 51.78px;
        height: 42.06px; 
        background-position: 94.10277855217916% 98.50700323226104%; 
    }
    .icon--wifi {
        width: 60px;
        height: 64px; 
        background-position: 68.85410628019324% 0; 
    }
    .icon--youtube {
        width: 34.75px;
        height: 42px; 
        background-position: 36.69752421959096% 45.79307692307692%; 
    }

